In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train=pd.read_excel("/home/udit/Music/fliprhackathonhiringprogram4_0machinelearningtask/Train_dataset.xlsx")

In [3]:
train.head()

,people_ID,Region,Gender,Designation,Name,Married,Children,Occupation,Mode_transport,cases/1M,...,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
0,1,Bhubaneshwar,Female,Mrs,mansi,YES,1.0,Farmer,Public,2,...,93.0,233.0,82.0,58.0,27,7,3600000.0,1300000,2.0,49.135010
1,2,Bhubaneshwar,Female,Mrs,riya masi,YES,2.0,Farmer,Walk,2,...,56.0,328.0,89.0,68.0,5,6,1600000.0,400000,1.0,51.147880
2,3,Bhubaneshwar,Female,Mrs,sunita,NO,1.0,Cleaner,Public,2,...,137.0,213.0,77.0,43.0,40,6,3400000.0,900000,1.0,73.224000
3,4,Bhubaneshwar,Female,Mrs,anjali @ babli,YES,1.0,Driver,Car,2,...,167.0,275.0,64.0,60.0,27,7,700000.0,2300000,1.0,48.779225
4,5,Bhubaneshwar,Female,Mrs,champa karketta,NO,2.0,Manufacturing,Car,2,...,153.0,331.0,71.0,64.0,32,7,3200000.0,1100000,1.0,87.868800

In [4]:
train.describe()

,people_ID,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
count,10714.000000,10403.000000,10714.000000,10714.000000,10714.000000,10714.000000,9998.000000,9790.000000,10698.000000,9600.000000,9600.000000,10679.000000,10714.000000,10714.000000,9.624000e+03,1.071400e+04,9991.000000,10714.000000
mean,10084.893784,1.062770,3.285888,0.523241,42.083722,9.013067,278.806261,87.795812,116.170967,275.292292,74.847396,52.632737,20.028094,5.015027,2.644919e+06,1.304713e+06,1.004604,52.280680
std,7108.663645,0.818222,2.721274,0.854303,15.323397,3.714970,97.985526,41.851103,55.178811,43.669692,14.869104,10.434293,11.828445,1.399770,1.383346e+06,6.075947e+05,0.815257,10.674667
min,1.000000,0.000000,1.000000,0.000000,16.000000,3.000000,110.000000,15.000000,20.000000,200.000000,50.000000,35.000000,0.000000,3.000000,3.000000e+05,3.000000e+05,0.000000,29.289600
25%,2679.250000,0.000000,2.000000,0.000000,29.000000,6.000000,194.000000,52.000000,68.000000,237.000000,62.000000,44.000000,10.000000,4.000000,1.400000e+06,8.000000e+05,0.000000,47.277426
50%,10003.500000,1.000000,2.000000,0.000000,42.000000,9.000000,276.000000,88.000000,117.000000,276.000000,75.000000,53.000000,20.000000,5.000000,2.600000e+06,1.300000e+06,1.000000,49.008389
75%,15141.750000,2.000000,4.000000,1.000000,55.000000,12.000000,364.000000,124.000000,165.000000,313.000000,88.000000,62.000000,30.000000,6.000000,3.800000e+06,1.800000e+06,2.000000,52.762313
max,22695.000000,2.000000,8.000000,2.000000,68.000000,15.000000,450.000000,160.000000,210.000000,350.000000,100.000000,70.000000,40.000000,7.000000,5.000000e+06,2.300000e+06,2.000000,97.632000

In [5]:
train= train.drop(['Name','Designation'],axis=1)

In [6]:
train.head()

,people_ID,Region,Gender,Married,Children,Occupation,Mode_transport,cases/1M,Deaths/1M,comorbidity,...,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
0,1,Bhubaneshwar,Female,YES,1.0,Farmer,Public,2,0,Hypertension,...,93.0,233.0,82.0,58.0,27,7,3600000.0,1300000,2.0,49.135010
1,2,Bhubaneshwar,Female,YES,2.0,Farmer,Walk,2,0,Diabetes,...,56.0,328.0,89.0,68.0,5,6,1600000.0,400000,1.0,51.147880
2,3,Bhubaneshwar,Female,NO,1.0,Cleaner,Public,2,0,None,...,137.0,213.0,77.0,43.0,40,6,3400000.0,900000,1.0,73.224000
3,4,Bhubaneshwar,Female,YES,1.0,Driver,Car,2,0,Coronary Heart Disease,...,167.0,275.0,64.0,60.0,27,7,700000.0,2300000,1.0,48.779225
4,5,Bhubaneshwar,Female,NO,2.0,Manufacturing,Car,2,0,Diabetes,...,153.0,331.0,71.0,64.0,32,7,3200000.0,1100000,1.0,87.868800

In [7]:
train.dtypes

people_ID                   int64
Region                     object
Gender                     object
Married                    object
Children                  float64
Occupation                 object
Mode_transport             object
cases/1M                    int64
Deaths/1M                   int64
comorbidity                object
Age                         int64
Coma score                  int64
Pulmonary score            object
cardiological pressure     object
Diuresis                  float64
Platelets                 float64
HBB                       float64
d-dimer                   float64
Heart rate                float64
HDL cholesterol           float64
Charlson Index              int64
Blood Glucose               int64
Insurance                 float64
salary                      int64
FT/month                  float64
Infect_Prob               float64
dtype: object

In [8]:
gender = {'Male': 1,'Female': 2} 
comob={'Hypertension':1,'diabetes':2,'coronary heart disease':3}
married={'YES':1,'NO':2}

In [9]:
! pip install calmap
! pip install plotly

Requirement already satisfied: calmap in /home/udit/anaconda3/lib/python3.7/site-packages (0.0.7)
Requirement already satisfied: pandas in /home/udit/anaconda3/lib/python3.7/site-packages (from calmap) (1.0.1)
Requirement already satisfied: numpy in /home/udit/anaconda3/lib/python3.7/site-packages (from calmap) (1.18.1)
Requirement already satisfied: matplotlib in /home/udit/anaconda3/lib/python3.7/site-packages (from calmap) (3.1.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/udit/anaconda3/lib/python3.7/site-packages (from pandas->calmap) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/udit/anaconda3/lib/python3.7/site-packages (from pandas->calmap) (2019.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/udit/anaconda3/lib/python3.7/site-packages (from matplotlib->calmap) (2.4.6)
Requirement already satisfied: cycler>=0.10 in /home/udit/anaconda3/lib/python3.7/site-packages (from matplotlib->calmap) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/udit/anaconda3/lib/python3.7/site-packages (from matplotlib->calmap) (1.1.0)
Requirement already satisfied: six>=1.5 in /home/udit/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->calmap) (1.14.0)
Requirement already satisfied: setuptools in /home/udit/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib->calmap) (45.2.0.post20200210)
Requirement already satisfied: plotly in /home/udit/anaconda3/lib/python3.7/site-packages (4.5.4)
Requirement already satisfied: six in /home/udit/anaconda3/lib/python3.7/site-packages (from plotly) (1.14.0)
Requirement already satisfied: retrying>=1.3.3 in /home/udit/anaconda3/lib/python3.7/site-packages (from plotly) (1.3.3)

In [10]:
! pip install folium

Requirement already satisfied: folium in /home/udit/anaconda3/lib/python3.7/site-packages (0.10.1)
Requirement already satisfied: numpy in /home/udit/anaconda3/lib/python3.7/site-packages (from folium) (1.18.1)
Requirement already satisfied: branca>=0.3.0 in /home/udit/anaconda3/lib/python3.7/site-packages (from folium) (0.4.0)
Requirement already satisfied: jinja2>=2.9 in /home/udit/anaconda3/lib/python3.7/site-packages (from folium) (2.11.1)
Requirement already satisfied: requests in /home/udit/anaconda3/lib/python3.7/site-packages (from folium) (2.22.0)
Requirement already satisfied: six in /home/udit/anaconda3/lib/python3.7/site-packages (from branca>=0.3.0->folium) (1.14.0)
Requirement already satisfied: MarkupSafe>=0.23 in /home/udit/anaconda3/lib/python3.7/site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/udit/anaconda3/lib/python3.7/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/udit/anaconda3/lib/python3.7/site-packages (from requests->folium) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in /home/udit/anaconda3/lib/python3.7/site-packages (from requests->folium) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/udit/anaconda3/lib/python3.7/site-packages (from requests->folium) (2019.11.28)

In [11]:
# essential libraries
import json
import random
from urllib.request import urlopen

# storing and anaysis
import numpy as np
import pandas as pd

# visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
import plotly.figure_factory as ff
import calmap
import folium

# color pallette
cnf = '#393e46' # confirmed - grey
dth = '#ff2e63' # death - red
rec = '#21bf73' # recovered - cyan
act = '#fe9801' # active case - yellow

# converter
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()   

# hide warnings
import warnings
warnings.filterwarnings('ignore')

# html embedding
from IPython.display import Javascript
from IPython.core.display import display
from IPython.core.display import HTML

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   people_ID               10714 non-null  int64
 1   Region                  10714 non-null  object
 2   Gender                  10714 non-null  object
 3   Married                 10714 non-null  object
 4   Children                10403 non-null  float64
 5   Occupation              9967 non-null   object
 6   Mode_transport          10711 non-null  object
 7   cases/1M                10714 non-null  int64
 8   Deaths/1M               10714 non-null  int64
 9   comorbidity             10488 non-null  object
 10  Age                     10714 non-null  int64
 11  Coma score              10714 non-null  int64
 12  Pulmonary score         10714 non-null  object
 13  cardiological pressure  10617 non-null  object
 14  Diuresis                9998 non-null   float64
 15  Platelets               9790 non-null   float64
 16  HBB                     10698 non-null  float64
 17  d-dimer                 9600 non-null   float64
 18  Heart rate              9600 non-null   float64
 19  HDL cholesterol         10679 non-null  float64
 20  Charlson Index          10714 non-null  int64
 21  Blood Glucose           10714 non-null  int64
 22  Insurance               9624 non-null   float64
 23  salary                  10714 non-null  int64
 24  FT/month                9991 non-null   float64
 25  Infect_Prob             10714 non-null  float64
dtypes: float64(10), int64(8), object(8)
memory usage: 2.1+ MB

In [13]:
train.isna().sum()

people_ID                    0
Region                       0
Gender                       0
Married                      0
Children                   311
Occupation                 747
Mode_transport               3
cases/1M                     0
Deaths/1M                    0
comorbidity                226
Age                          0
Coma score                   0
Pulmonary score              0
cardiological pressure      97
Diuresis                   716
Platelets                  924
HBB                         16
d-dimer                   1114
Heart rate                1114
HDL cholesterol             35
Charlson Index               0
Blood Glucose                0
Insurance                 1090
salary                       0
FT/month                   723
Infect_Prob                  0
dtype: int64

In [14]:
train[['Children']] = train[['Children']].fillna(0)
#train[['FT/month']] = train[['FT/month']].fillna(0)
#full_table[cases] = full_table[cases].fillna(0)
i1=['Diuresis','Platelets','cardiological pressure','HBB','d-dimer','HDL cholesterol','Heart rate','Charlson Index','Insurance']
for i in i1:
    train[[i]] =train[[i]].fillna(train[[i]].median())

In [15]:
train.isna().sum()

people_ID                   0
Region                      0
Gender                      0
Married                     0
Children                    0
Occupation                747
Mode_transport              3
cases/1M                    0
Deaths/1M                   0
comorbidity               226
Age                         0
Coma score                  0
Pulmonary score             0
cardiological pressure     97
Diuresis                    0
Platelets                   0
HBB                         0
d-dimer                     0
Heart rate                  0
HDL cholesterol             0
Charlson Index              0
Blood Glucose               0
Insurance                   0
salary                      0
FT/month                  723
Infect_Prob                 0
dtype: int64

In [16]:
train[['Occupation']] = train[['Occupation']].fillna(method='ffill')
train[['comorbidity']] = train[['comorbidity']].fillna(method='ffill')
train[['FT/month']] = train[['FT/month']].fillna(method='bfill')
train[['Mode_transport']] = train[['Mode_transport']].fillna(method='ffill')
train[['cardiological pressure']] = train[['cardiological pressure']].fillna(method='ffill')

In [17]:
train.isna().sum()

people_ID                 0
Region                    0
Gender                    0
Married                   0
Children                  0
Occupation                0
Mode_transport            0
cases/1M                  0
Deaths/1M                 0
comorbidity               0
Age                       0
Coma score                0
Pulmonary score           0
cardiological pressure    0
Diuresis                  0
Platelets                 0
HBB                       0
d-dimer                   0
Heart rate                0
HDL cholesterol           0
Charlson Index            0
Blood Glucose             0
Insurance                 0
salary                    0
FT/month                  0
Infect_Prob               0
dtype: int64

In [18]:
train=train.drop(['Region'],axis=1)

In [19]:
df_with_dummies = pd.get_dummies( train, columns =['Gender','Married','Occupation','Mode_transport','comorbidity','Pulmonary score','cardiological pressure'] )

In [20]:
df_with_dummies.head()

,people_ID,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,...,comorbidity_Hypertension,comorbidity_None,Pulmonary score_<100,Pulmonary score_<200,Pulmonary score_<300,Pulmonary score_<400,cardiological pressure_Elevated,cardiological pressure_Normal,cardiological pressure_Stage-01,cardiological pressure_Stage-02
0,1,1.0,2,0,68,8,441.0,154.0,93.0,233.0,...,1,0,0,0,0,1,0,1,0,0
1,2,2.0,2,0,64,15,276.0,121.0,56.0,328.0,...,0,0,1,0,0,0,0,0,0,1
2,3,1.0,2,0,19,13,416.0,124.0,137.0,213.0,...,0,1,0,0,1,0,1,0,0,0
3,4,1.0,2,0,33,9,410.0,98.0,167.0,275.0,...,0,0,0,1,0,0,0,0,1,0
4,5,2.0,2,0,23,7,390.0,21.0,153.0,331.0,...,0,0,0,0,0,1,0,1,0,0

In [21]:
df_with_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 46 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   people_ID                           10714 non-null  int64
 1   Children                            10714 non-null  float64
 2   cases/1M                            10714 non-null  int64
 3   Deaths/1M                           10714 non-null  int64
 4   Age                                 10714 non-null  int64
 5   Coma score                          10714 non-null  int64
 6   Diuresis                            10714 non-null  float64
 7   Platelets                           10714 non-null  float64
 8   HBB                                 10714 non-null  float64
 9   d-dimer                             10714 non-null  float64
 10  Heart rate                          10714 non-null  float64
 11  HDL cholesterol                     10714 non-null  float64
 12  Charlson Index                      10714 non-null  int64
 13  Blood Glucose                       10714 non-null  int64
 14  Insurance                           10714 non-null  float64
 15  salary                              10714 non-null  int64
 16  FT/month                            10714 non-null  float64
 17  Infect_Prob                         10714 non-null  float64
 18  Gender_Female                       10714 non-null  uint8
 19  Gender_Male                         10714 non-null  uint8
 20  Married_NO                          10714 non-null  uint8
 21  Married_YES                         10714 non-null  uint8
 22  Occupation_Business                 10714 non-null  uint8
 23  Occupation_Cleaner                  10714 non-null  uint8
 24  Occupation_Clerk                    10714 non-null  uint8
 25  Occupation_Driver                   10714 non-null  uint8
 26  Occupation_Farmer                   10714 non-null  uint8
 27  Occupation_Legal                    10714 non-null  uint8
 28  Occupation_Manufacturing            10714 non-null  uint8
 29  Occupation_Researcher               10714 non-null  uint8
 30  Occupation_Sales                    10714 non-null  uint8
 31  Mode_transport_Car                  10714 non-null  uint8
 32  Mode_transport_Public               10714 non-null  uint8
 33  Mode_transport_Walk                 10714 non-null  uint8
 34  comorbidity_Coronary Heart Disease  10714 non-null  uint8
 35  comorbidity_Diabetes                10714 non-null  uint8
 36  comorbidity_Hypertension            10714 non-null  uint8
 37  comorbidity_None                    10714 non-null  uint8
 38  Pulmonary score_<100                10714 non-null  uint8
 39  Pulmonary score_<200                10714 non-null  uint8
 40  Pulmonary score_<300                10714 non-null  uint8
 41  Pulmonary score_<400                10714 non-null  uint8
 42  cardiological pressure_Elevated     10714 non-null  uint8
 43  cardiological pressure_Normal       10714 non-null  uint8
 44  cardiological pressure_Stage-01     10714 non-null  uint8
 45  cardiological pressure_Stage-02     10714 non-null  uint8
dtypes: float64(10), int64(8), uint8(28)
memory usage: 1.8 MB

In [22]:
y=df_with_dummies.loc[:,'Infect_Prob']
print(y)

0        49.135010
1        51.147880
2        73.224000
3        48.779225
4        87.868800
           ...
10709    41.981760
10710    47.148663
10711    47.708533
10712    53.803565
10713    68.342400
Name: Infect_Prob, Length: 10714, dtype: float64

In [23]:
df_with_dummies= df_with_dummies.drop(['Infect_Prob','Insurance','salary','people_ID'],axis=1)
X=df_with_dummies.loc[:,:]

In [24]:
df_with_dummies.head()

,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,Heart rate,...,comorbidity_Hypertension,comorbidity_None,Pulmonary score_<100,Pulmonary score_<200,Pulmonary score_<300,Pulmonary score_<400,cardiological pressure_Elevated,cardiological pressure_Normal,cardiological pressure_Stage-01,cardiological pressure_Stage-02
0,1.0,2,0,68,8,441.0,154.0,93.0,233.0,82.0,...,1,0,0,0,0,1,0,1,0,0
1,2.0,2,0,64,15,276.0,121.0,56.0,328.0,89.0,...,0,0,1,0,0,0,0,0,0,1
2,1.0,2,0,19,13,416.0,124.0,137.0,213.0,77.0,...,0,1,0,0,1,0,1,0,0,0
3,1.0,2,0,33,9,410.0,98.0,167.0,275.0,64.0,...,0,0,0,1,0,0,0,0,1,0
4,2.0,2,0,23,7,390.0,21.0,153.0,331.0,71.0,...,0,0,0,0,0,1,0,1,0,0

In [25]:
X.head()

,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,Heart rate,...,comorbidity_Hypertension,comorbidity_None,Pulmonary score_<100,Pulmonary score_<200,Pulmonary score_<300,Pulmonary score_<400,cardiological pressure_Elevated,cardiological pressure_Normal,cardiological pressure_Stage-01,cardiological pressure_Stage-02
0,1.0,2,0,68,8,441.0,154.0,93.0,233.0,82.0,...,1,0,0,0,0,1,0,1,0,0
1,2.0,2,0,64,15,276.0,121.0,56.0,328.0,89.0,...,0,0,1,0,0,0,0,0,0,1
2,1.0,2,0,19,13,416.0,124.0,137.0,213.0,77.0,...,0,1,0,0,1,0,1,0,0,0
3,1.0,2,0,33,9,410.0,98.0,167.0,275.0,64.0,...,0,0,0,1,0,0,0,0,1,0
4,2.0,2,0,23,7,390.0,21.0,153.0,331.0,71.0,...,0,0,0,0,0,1,0,1,0,0

In [26]:
y.head()

0    49.135010
1    51.147880
2    73.224000
3    48.779225
4    87.868800
Name: Infect_Prob, dtype: float64

In [27]:

from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error 
from matplotlib import pyplot as plt
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)
!pip install xgboost
from xgboost import XGBRegressor

Using TensorFlow backend.

Requirement already satisfied: xgboost in /home/udit/anaconda3/lib/python3.7/site-packages (1.0.2)
Requirement already satisfied: numpy in /home/udit/anaconda3/lib/python3.7/site-packages (from xgboost) (1.18.1)
Requirement already satisfied: scipy in /home/udit/anaconda3/lib/python3.7/site-packages (from xgboost) (1.4.1)

In [28]:
y.loc[0]

49.13500977

In [29]:
for i in range(10714):
    y.loc[i]=y.loc[i]/100

In [30]:
y.loc[0]

0.49135009770000004

In [31]:
NN_model = Sequential()

# The Input Layer :
NN_model.add(Dense(128, kernel_initializer='normal',input_dim = df_with_dummies.shape[1], activation='sigmoid'))

# The Hidden Layers :
NN_model.add(Dense(256, kernel_initializer='normal',activation='sigmoid'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='sigmoid'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='sigmoid'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='sigmoid'))

# The Output Layer :
NN_model.add(Dense(1, kernel_initializer='normal',activation='sigmoid'))

# Compile the network :
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model.summary()

WARNING:tensorflow:From /home/udit/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 128)               5504
_________________________________________________________________
dense_2 (Dense)              (None, 256)               33024
_________________________________________________________________
dense_3 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_4 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_5 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 257
=================================================================
Total params: 236,161
Trainable params: 236,161
Non-trainable params: 0
_________________________________________________________________

In [32]:
df_with_dummies.head()

,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,Heart rate,...,comorbidity_Hypertension,comorbidity_None,Pulmonary score_<100,Pulmonary score_<200,Pulmonary score_<300,Pulmonary score_<400,cardiological pressure_Elevated,cardiological pressure_Normal,cardiological pressure_Stage-01,cardiological pressure_Stage-02
0,1.0,2,0,68,8,441.0,154.0,93.0,233.0,82.0,...,1,0,0,0,0,1,0,1,0,0
1,2.0,2,0,64,15,276.0,121.0,56.0,328.0,89.0,...,0,0,1,0,0,0,0,0,0,1
2,1.0,2,0,19,13,416.0,124.0,137.0,213.0,77.0,...,0,1,0,0,1,0,1,0,0,0
3,1.0,2,0,33,9,410.0,98.0,167.0,275.0,64.0,...,0,0,0,1,0,0,0,0,1,0
4,2.0,2,0,23,7,390.0,21.0,153.0,331.0,71.0,...,0,0,0,0,0,1,0,1,0,0

In [33]:
checkpoint_name = 'Weights-{epoch:03d}--{val_loss:.5f}.hdf5' 
checkpoint = ModelCheckpoint(checkpoint_name, monitor='val_loss', verbose = 1, save_best_only = True, mode ='auto')
callbacks_list = [checkpoint]

In [40]:
NN_model.fit(df_with_dummies, y, epochs=200, batch_size=32, validation_split = 0.2, callbacks=callbacks_list)

Train on 8571 samples, validate on 2143 samples
Epoch 1/200
8571/8571 [==============================] - 2s 277us/step - loss: 0.0407 - mean_absolute_error: 0.0407 - val_loss: 0.0526 - val_mean_absolute_error: 0.0526

Epoch 00001: val_loss did not improve from 0.04083
Epoch 2/200
8571/8571 [==============================] - 2s 212us/step - loss: 0.0394 - mean_absolute_error: 0.0394 - val_loss: 0.0424 - val_mean_absolute_error: 0.0424

Epoch 00002: val_loss did not improve from 0.04083
Epoch 3/200
8571/8571 [==============================] - 2s 210us/step - loss: 0.0389 - mean_absolute_error: 0.0389 - val_loss: 0.0413 - val_mean_absolute_error: 0.0413

Epoch 00003: val_loss did not improve from 0.04083
Epoch 4/200
8571/8571 [==============================] - 2s 236us/step - loss: 0.0391 - mean_absolute_error: 0.0391 - val_loss: 0.0413 - val_mean_absolute_error: 0.0413

Epoch 00004: val_loss did not improve from 0.04083
Epoch 5/200
8571/8571 [==============================] - 2s 217us/step - loss: 0.0391 - mean_absolute_error: 0.0391 - val_loss: 0.0416 - val_mean_absolute_error: 0.0416

Epoch 00005: val_loss did not improve from 0.04083
Epoch 6/200
8571/8571 [==============================] - 2s 233us/step - loss: 0.0399 - mean_absolute_error: 0.0399 - val_loss: 0.0430 - val_mean_absolute_error: 0.0430

Epoch 00006: val_loss did not improve from 0.04083
Epoch 7/200
8571/8571 [==============================] - 2s 228us/step - loss: 0.0395 - mean_absolute_error: 0.0395 - val_loss: 0.0431 - val_mean_absolute_error: 0.0431

Epoch 00007: val_loss did not improve from 0.04083
Epoch 8/200
8571/8571 [==============================] - 2s 212us/step - loss: 0.0390 - mean_absolute_error: 0.0390 - val_loss: 0.0416 - val_mean_absolute_error: 0.0416

Epoch 00008: val_loss did not improve from 0.04083
Epoch 9/200
8571/8571 [==============================] - 2s 213us/step - loss: 0.0390 - mean_absolute_error: 0.0390 - val_loss: 0.0442 - val_mean_absolute_error: 0.0442

Epoch 00009: val_loss did not improve from 0.04083
Epoch 10/200
8571/8571 [==============================] - 2s 233us/step - loss: 0.0391 - mean_absolute_error: 0.0391 - val_loss: 0.0408 - val_mean_absolute_error: 0.0408

Epoch 00010: val_loss improved from 0.04083 to 0.04080, saving model to Weights-010--0.04080.hdf5
Epoch 11/200
8571/8571 [==============================] - 2s 195us/step - loss: 0.0387 - mean_absolute_error: 0.0387 - val_loss: 0.0409 - val_mean_absolute_error: 0.0409

Epoch 00011: val_loss did not improve from 0.04080
Epoch 12/200
8571/8571 [==============================] - 2s 206us/step - loss: 0.0387 - mean_absolute_error: 0.0387 - val_loss: 0.0427 - val_mean_absolute_error: 0.0427

Epoch 00012: val_loss did not improve from 0.04080
Epoch 13/200
8571/8571 [==============================] - 2s 207us/step - loss: 0.0390 - mean_absolute_error: 0.0390 - val_loss: 0.0398 - val_mean_absolute_error: 0.0398

Epoch 00013: val_loss improved from 0.04080 to 0.03984, saving model to Weights-013--0.03984.hdf5
Epoch 14/200
8571/8571 [==============================] - 2s 198us/step - loss: 0.0386 - mean_absolute_error: 0.0386 - val_loss: 0.0393 - val_mean_absolute_error: 0.0393

Epoch 00014: val_loss improved from 0.03984 to 0.03934, saving model to Weights-014--0.03934.hdf5
Epoch 15/200
8571/8571 [==============================] - 2s 206us/step - loss: 0.0386 - mean_absolute_error: 0.0386 - val_loss: 0.0422 - val_mean_absolute_error: 0.0422

Epoch 00015: val_loss did not improve from 0.03934
Epoch 16/200
8571/8571 [==============================] - 2s 227us/step - loss: 0.0394 - mean_absolute_error: 0.0394 - val_loss: 0.0398 - val_mean_absolute_error: 0.0398

Epoch 00016: val_loss did not improve from 0.03934
Epoch 17/200
8571/8571 [==============================] - 2s 200us/step - loss: 0.0383 - mean_absolute_error: 0.0383 - val_loss: 0.0438 - val_mean_absolute_error: 0.0438

Epoch 00017: val_loss did not improve from 0.03934
Epoch 18/200
8571/8571 [==============================] - 2s 194us/step - loss: 0.0386 - mean_absolute_error: 0.0386 - val_loss: 0.0394 - val_mean_absolute_error: 0.0394

Epoch 00018: val_loss did not improve from 0.03934
Epoch 19/200
8571/8571 [==============================] - 2s 198us/step - loss: 0.0388 - mean_absolute_error: 0.0388 - val_loss: 0.0391 - val_mean_absolute_error: 0.0391

Epoch 00019: val_loss improved from 0.03934 to 0.03906, saving model to Weights-019--0.03906.hdf5
Epoch 20/200
8571/8571 [==============================] - 2s 187us/step - loss: 0.0377 - mean_absolute_error: 0.0377 - val_loss: 0.0468 - val_mean_absolute_error: 0.0468

Epoch 00020: val_loss did not improve from 0.03906
Epoch 21/200
8571/8571 [==============================] - 2s 192us/step - loss: 0.0386 - mean_absolute_error: 0.0386 - val_loss: 0.0426 - val_mean_absolute_error: 0.0426

Epoch 00021: val_loss did not improve from 0.03906
Epoch 22/200
8571/8571 [==============================] - 1s 163us/step - loss: 0.0383 - mean_absolute_error: 0.0383 - val_loss: 0.0416 - val_mean_absolute_error: 0.0416

Epoch 00022: val_loss did not improve from 0.03906
Epoch 23/200
8571/8571 [==============================] - 2s 206us/step - loss: 0.0386 - mean_absolute_error: 0.0386 - val_loss: 0.0394 - val_mean_absolute_error: 0.0394

Epoch 00023: val_loss did not improve from 0.03906
Epoch 24/200
8571/8571 [==============================] - 1s 173us/step - loss: 0.0385 - mean_absolute_error: 0.0385 - val_loss: 0.0390 - val_mean_absolute_error: 0.0390

Epoch 00024: val_loss improved from 0.03906 to 0.03898, saving model to Weights-024--0.03898.hdf5
Epoch 25/200
8571/8571 [==============================] - 1s 167us/step - loss: 0.0379 - mean_absolute_error: 0.0379 - val_loss: 0.0398 - val_mean_absolute_error: 0.0398

Epoch 00025: val_loss did not improve from 0.03898
Epoch 26/200
8571/8571 [==============================] - 2s 177us/step - loss: 0.0384 - mean_absolute_error: 0.0384 - val_loss: 0.0417 - val_mean_absolute_error: 0.0417

Epoch 00026: val_loss did not improve from 0.03898
Epoch 27/200
8571/8571 [==============================] - 2s 196us/step - loss: 0.0379 - mean_absolute_error: 0.0379 - val_loss: 0.0399 - val_mean_absolute_error: 0.0399

Epoch 00027: val_loss did not improve from 0.03898
Epoch 28/200
8571/8571 [==============================] - 2s 185us/step - loss: 0.0377 - mean_absolute_error: 0.0377 - val_loss: 0.0388 - val_mean_absolute_error: 0.0388

Epoch 00028: val_loss improved from 0.03898 to 0.03881, saving model to Weights-028--0.03881.hdf5
Epoch 29/200
8571/8571 [==============================] - 2s 176us/step - loss: 0.0383 - mean_absolute_error: 0.0383 - val_loss: 0.0423 - val_mean_absolute_error: 0.0423

Epoch 00029: val_loss did not improve from 0.03881
Epoch 30/200
8571/8571 [==============================] - 2s 194us/step - loss: 0.0383 - mean_absolute_error: 0.0383 - val_loss: 0.0411 - val_mean_absolute_error: 0.0411

Epoch 00030: val_loss did not improve from 0.03881
Epoch 31/200
8571/8571 [==============================] - 2s 190us/step - loss: 0.0381 - mean_absolute_error: 0.0381 - val_loss: 0.0414 - val_mean_absolute_error: 0.0414

Epoch 00031: val_loss did not improve from 0.03881
Epoch 32/200
8571/8571 [==============================] - 2s 181us/step - loss: 0.0377 - mean_absolute_error: 0.0377 - val_loss: 0.0403 - val_mean_absolute_error: 0.0403

Epoch 00032: val_loss did not improve from 0.03881
Epoch 33/200
8571/8571 [==============================] - 2s 181us/step - loss: 0.0372 - mean_absolute_error: 0.0372 - val_loss: 0.0385 - val_mean_absolute_error: 0.0385

Epoch 00033: val_loss improved from 0.03881 to 0.03854, saving model to Weights-033--0.03854.hdf5
Epoch 34/200
8571/8571 [==============================] - 1s 168us/step - loss: 0.0384 - mean_absolute_error: 0.0384 - val_loss: 0.0408 - val_mean_absolute_error: 0.0408

Epoch 00034: val_loss did not improve from 0.03854
Epoch 35/200
8571/8571 [==============================] - 2s 185us/step - loss: 0.0372 - mean_absolute_error: 0.0372 - val_loss: 0.0433 - val_mean_absolute_error: 0.0433

Epoch 00035: val_loss did not improve from 0.03854
Epoch 36/200

8571/8571 [==============================] - 2s 208us/step - loss: 0.0382 - mean_absolute_error: 0.0382 - val_loss: 0.0384 - val_mean_absolute_error: 0.0384

Epoch 00036: val_loss improved from 0.03854 to 0.03843, saving model to Weights-036--0.03843.hdf5
Epoch 37/200
8571/8571 [==============================] - 3s 332us/step - loss: 0.0373 - mean_absolute_error: 0.0373 - val_loss: 0.0447 - val_mean_absolute_error: 0.0447

Epoch 00037: val_loss did not improve from 0.03843
Epoch 38/200
8571/8571 [==============================] - 3s 297us/step - loss: 0.0383 - mean_absolute_error: 0.0383 - val_loss: 0.0431 - val_mean_absolute_error: 0.0431

Epoch 00038: val_loss did not improve from 0.03843
Epoch 39/200
8571/8571 [==============================] - 2s 259us/step - loss: 0.0373 - mean_absolute_error: 0.0373 - val_loss: 0.0383 - val_mean_absolute_error: 0.0383

Epoch 00039: val_loss improved from 0.03843 to 0.03827, saving model to Weights-039--0.03827.hdf5
Epoch 40/200
8571/8571 [==============================] - 2s 218us/step - loss: 0.0383 - mean_absolute_error: 0.0383 - val_loss: 0.0388 - val_mean_absolute_error: 0.0388

Epoch 00040: val_loss did not improve from 0.03827
Epoch 41/200
8571/8571 [==============================] - 2s 199us/step - loss: 0.0378 - mean_absolute_error: 0.0378 - val_loss: 0.0446 - val_mean_absolute_error: 0.0446

Epoch 00041: val_loss did not improve from 0.03827
Epoch 42/200
8571/8571 [==============================] - 2s 204us/step - loss: 0.0374 - mean_absolute_error: 0.0374 - val_loss: 0.0412 - val_mean_absolute_error: 0.0412

Epoch 00042: val_loss did not improve from 0.03827
Epoch 43/200
8571/8571 [==============================] - 2s 222us/step - loss: 0.0382 - mean_absolute_error: 0.0382 - val_loss: 0.0398 - val_mean_absolute_error: 0.0398

Epoch 00043: val_loss did not improve from 0.03827
Epoch 44/200
8571/8571 [==============================] - 2s 248us/step - loss: 0.0374 - mean_absolute_error: 0.0374 - val_loss: 0.0430 - val_mean_absolute_error: 0.0430

Epoch 00044: val_loss did not improve from 0.03827
Epoch 45/200
8571/8571 [==============================] - 2s 242us/step - loss: 0.0377 - mean_absolute_error: 0.0377 - val_loss: 0.0431 - val_mean_absolute_error: 0.0431

Epoch 00045: val_loss did not improve from 0.03827
Epoch 46/200
8571/8571 [==============================] - 2s 232us/step - loss: 0.0380 - mean_absolute_error: 0.0380 - val_loss: 0.0390 - val_mean_absolute_error: 0.0390

Epoch 00046: val_loss did not improve from 0.03827
Epoch 47/200
8571/8571 [==============================] - 2s 245us/step - loss: 0.0375 - mean_absolute_error: 0.0375 - val_loss: 0.0427 - val_mean_absolute_error: 0.0427

Epoch 00047: val_loss did not improve from 0.03827
Epoch 48/200
8571/8571 [==============================] - 2s 262us/step - loss: 0.0376 - mean_absolute_error: 0.0376 - val_loss: 0.0401 - val_mean_absolute_error: 0.0401

Epoch 00048: val_loss did not improve from 0.03827
Epoch 49/200
8571/8571 [==============================] - 2s 251us/step - loss: 0.0372 - mean_absolute_error: 0.0372 - val_loss: 0.0396 - val_mean_absolute_error: 0.0396

Epoch 00049: val_loss did not improve from 0.03827
Epoch 50/200
8571/8571 [==============================] - 2s 238us/step - loss: 0.0377 - mean_absolute_error: 0.0377 - val_loss: 0.0413 - val_mean_absolute_error: 0.0413

Epoch 00050: val_loss did not improve from 0.03827
Epoch 51/200
8571/8571 [==============================] - 2s 227us/step - loss: 0.0376 - mean_absolute_error: 0.0376 - val_loss: 0.0392 - val_mean_absolute_error: 0.0392

Epoch 00051: val_loss did not improve from 0.03827
Epoch 52/200
8571/8571 [==============================] - 2s 189us/step - loss: 0.0372 - mean_absolute_error: 0.0372 - val_loss: 0.0425 - val_mean_absolute_error: 0.0425

Epoch 00052: val_loss did not improve from 0.03827
Epoch 53/200
8571/8571 [==============================] - 2s 182us/step - loss: 0.0370 - mean_absolute_error: 0.0370 - val_loss: 0.0399 - val_mean_absolute_error: 0.0399

Epoch 00053: val_loss did not improve from 0.03827
Epoch 54/200
8571/8571 [==============================] - 2s 191us/step - loss: 0.0371 - mean_absolute_error: 0.0371 - val_loss: 0.0386 - val_mean_absolute_error: 0.0386

Epoch 00054: val_loss did not improve from 0.03827
Epoch 55/200
8571/8571 [==============================] - 2s 203us/step - loss: 0.0375 - mean_absolute_error: 0.0375 - val_loss: 0.0413 - val_mean_absolute_error: 0.0413

Epoch 00055: val_loss did not improve from 0.03827
Epoch 56/200
8571/8571 [==============================] - 2s 187us/step - loss: 0.0371 - mean_absolute_error: 0.0371 - val_loss: 0.0394 - val_mean_absolute_error: 0.0394

Epoch 00056: val_loss did not improve from 0.03827
Epoch 57/200
8571/8571 [==============================] - 2s 187us/step - loss: 0.0373 - mean_absolute_error: 0.0373 - val_loss: 0.0378 - val_mean_absolute_error: 0.0378

Epoch 00057: val_loss improved from 0.03827 to 0.03776, saving model to Weights-057--0.03776.hdf5
Epoch 58/200
8571/8571 [==============================] - 2s 185us/step - loss: 0.0375 - mean_absolute_error: 0.0375 - val_loss: 0.0380 - val_mean_absolute_error: 0.0380

Epoch 00058: val_loss did not improve from 0.03776
Epoch 59/200
8571/8571 [==============================] - 2s 179us/step - loss: 0.0371 - mean_absolute_error: 0.0371 - val_loss: 0.0409 - val_mean_absolute_error: 0.0409

Epoch 00059: val_loss did not improve from 0.03776
Epoch 60/200
8571/8571 [==============================] - 2s 193us/step - loss: 0.0369 - mean_absolute_error: 0.0369 - val_loss: 0.0403 - val_mean_absolute_error: 0.0403

Epoch 00060: val_loss did not improve from 0.03776
Epoch 61/200
8571/8571 [==============================] - 2s 199us/step - loss: 0.0366 - mean_absolute_error: 0.0366 - val_loss: 0.0379 - val_mean_absolute_error: 0.0379

Epoch 00061: val_loss did not improve from 0.03776
Epoch 62/200
8571/8571 [==============================] - 1s 165us/step - loss: 0.0374 - mean_absolute_error: 0.0374 - val_loss: 0.0386 - val_mean_absolute_error: 0.0386

Epoch 00062: val_loss did not improve from 0.03776
Epoch 63/200
8571/8571 [==============================] - 1s 165us/step - loss: 0.0369 - mean_absolute_error: 0.0369 - val_loss: 0.0401 - val_mean_absolute_error: 0.0401

Epoch 00063: val_loss did not improve from 0.03776
Epoch 64/200
8571/8571 [==============================] - 2s 183us/step - loss: 0.0372 - mean_absolute_error: 0.0372 - val_loss: 0.0421 - val_mean_absolute_error: 0.0421

Epoch 00064: val_loss did not improve from 0.03776
Epoch 65/200
8571/8571 [==============================] - 1s 170us/step - loss: 0.0371 - mean_absolute_error: 0.0371 - val_loss: 0.0384 - val_mean_absolute_error: 0.0384

Epoch 00065: val_loss did not improve from 0.03776
Epoch 66/200
8571/8571 [==============================] - 1s 173us/step - loss: 0.0370 - mean_absolute_error: 0.0370 - val_loss: 0.0386 - val_mean_absolute_error: 0.0386

Epoch 00066: val_loss did not improve from 0.03776
Epoch 67/200
8571/8571 [==============================] - 2s 184us/step - loss: 0.0367 - mean_absolute_error: 0.0367 - val_loss: 0.0389 - val_mean_absolute_error: 0.0389

Epoch 00067: val_loss did not improve from 0.03776
Epoch 68/200
8571/8571 [==============================] - 2s 186us/step - loss: 0.0367 - mean_absolute_error: 0.0367 - val_loss: 0.0395 - val_mean_absolute_error: 0.0395

Epoch 00068: val_loss did not improve from 0.03776
Epoch 69/200
8571/8571 [==============================] - 2s 185us/step - loss: 0.0367 - mean_absolute_error: 0.0367 - val_loss: 0.0410 - val_mean_absolute_error: 0.0410

Epoch 00069: val_loss did not improve from 0.03776
Epoch 70/200
8571/8571 [==============================] - 1s 170us/step - loss: 0.0380 - mean_absolute_error: 0.0380 - val_loss: 0.0422 - val_mean_absolute_error: 0.0422

Epoch 00070: val_loss did not improve from 0.03776
Epoch 71/200
8571/8571 [==============================] - 1s 169us/step - loss: 0.0369 - mean_absolute_error: 0.0369 - val_loss: 0.0454 - val_mean_absolute_error: 0.0454

Epoch 00071: val_loss did not improve from 0.03776
Epoch 72/200

8571/8571 [==============================] - 1s 174us/step - loss: 0.0369 - mean_absolute_error: 0.0369 - val_loss: 0.0388 - val_mean_absolute_error: 0.0388

Epoch 00072: val_loss did not improve from 0.03776
Epoch 73/200
8571/8571 [==============================] - 1s 167us/step - loss: 0.0367 - mean_absolute_error: 0.0367 - val_loss: 0.0397 - val_mean_absolute_error: 0.0397

Epoch 00073: val_loss did not improve from 0.03776
Epoch 74/200
8571/8571 [==============================] - 1s 174us/step - loss: 0.0366 - mean_absolute_error: 0.0366 - val_loss: 0.0377 - val_mean_absolute_error: 0.0377

Epoch 00074: val_loss improved from 0.03776 to 0.03766, saving model to Weights-074--0.03766.hdf5
Epoch 75/200
8571/8571 [==============================] - 2s 180us/step - loss: 0.0364 - mean_absolute_error: 0.0364 - val_loss: 0.0419 - val_mean_absolute_error: 0.0419

Epoch 00075: val_loss did not improve from 0.03766
Epoch 76/200
8571/8571 [==============================] - 2s 183us/step - loss: 0.0368 - mean_absolute_error: 0.0368 - val_loss: 0.0434 - val_mean_absolute_error: 0.0434

Epoch 00076: val_loss did not improve from 0.03766
Epoch 77/200
8571/8571 [==============================] - 2s 175us/step - loss: 0.0368 - mean_absolute_error: 0.0368 - val_loss: 0.0384 - val_mean_absolute_error: 0.0384

Epoch 00077: val_loss did not improve from 0.03766
Epoch 78/200
8571/8571 [==============================] - 2s 197us/step - loss: 0.0366 - mean_absolute_error: 0.0366 - val_loss: 0.0387 - val_mean_absolute_error: 0.0387

Epoch 00078: val_loss did not improve from 0.03766
Epoch 79/200
8571/8571 [==============================] - 2s 194us/step - loss: 0.0376 - mean_absolute_error: 0.0376 - val_loss: 0.0430 - val_mean_absolute_error: 0.0430

Epoch 00079: val_loss did not improve from 0.03766
Epoch 80/200
8571/8571 [==============================] - 2s 176us/step - loss: 0.0367 - mean_absolute_error: 0.0367 - val_loss: 0.0399 - val_mean_absolute_error: 0.0399

Epoch 00080: val_loss did not improve from 0.03766
Epoch 81/200
8571/8571 [==============================] - 2s 179us/step - loss: 0.0362 - mean_absolute_error: 0.0362 - val_loss: 0.0388 - val_mean_absolute_error: 0.0388

Epoch 00081: val_loss did not improve from 0.03766
Epoch 82/200
8571/8571 [==============================] - 2s 183us/step - loss: 0.0363 - mean_absolute_error: 0.0363 - val_loss: 0.0385 - val_mean_absolute_error: 0.0385

Epoch 00082: val_loss did not improve from 0.03766
Epoch 83/200
8571/8571 [==============================] - 2s 180us/step - loss: 0.0362 - mean_absolute_error: 0.0362 - val_loss: 0.0376 - val_mean_absolute_error: 0.0376

Epoch 00083: val_loss improved from 0.03766 to 0.03763, saving model to Weights-083--0.03763.hdf5
Epoch 84/200
8571/8571 [==============================] - 1s 175us/step - loss: 0.0364 - mean_absolute_error: 0.0364 - val_loss: 0.0384 - val_mean_absolute_error: 0.0384

Epoch 00084: val_loss did not improve from 0.03763
Epoch 85/200
8571/8571 [==============================] - 1s 173us/step - loss: 0.0364 - mean_absolute_error: 0.0364 - val_loss: 0.0388 - val_mean_absolute_error: 0.0388

Epoch 00085: val_loss did not improve from 0.03763
Epoch 86/200
8571/8571 [==============================] - 2s 218us/step - loss: 0.0361 - mean_absolute_error: 0.0361 - val_loss: 0.0396 - val_mean_absolute_error: 0.0396

Epoch 00086: val_loss did not improve from 0.03763
Epoch 87/200
8571/8571 [==============================] - 2s 180us/step - loss: 0.0361 - mean_absolute_error: 0.0361 - val_loss: 0.0426 - val_mean_absolute_error: 0.0426

Epoch 00087: val_loss did not improve from 0.03763
Epoch 88/200
8571/8571 [==============================] - 2s 177us/step - loss: 0.0361 - mean_absolute_error: 0.0361 - val_loss: 0.0380 - val_mean_absolute_error: 0.0380

Epoch 00088: val_loss did not improve from 0.03763
Epoch 89/200
8571/8571 [==============================] - 2s 181us/step - loss: 0.0363 - mean_absolute_error: 0.0363 - val_loss: 0.0400 - val_mean_absolute_error: 0.0400

Epoch 00089: val_loss did not improve from 0.03763
Epoch 90/200
8571/8571 [==============================] - 2s 180us/step - loss: 0.0363 - mean_absolute_error: 0.0363 - val_loss: 0.0385 - val_mean_absolute_error: 0.0385

Epoch 00090: val_loss did not improve from 0.03763
Epoch 91/200
8571/8571 [==============================] - 2s 176us/step - loss: 0.0367 - mean_absolute_error: 0.0367 - val_loss: 0.0389 - val_mean_absolute_error: 0.0389

Epoch 00091: val_loss did not improve from 0.03763
Epoch 92/200
8571/8571 [==============================] - 1s 173us/step - loss: 0.0362 - mean_absolute_error: 0.0362 - val_loss: 0.0389 - val_mean_absolute_error: 0.0389

Epoch 00092: val_loss did not improve from 0.03763
Epoch 93/200
8571/8571 [==============================] - 1s 172us/step - loss: 0.0365 - mean_absolute_error: 0.0365 - val_loss: 0.0397 - val_mean_absolute_error: 0.0397

Epoch 00093: val_loss did not improve from 0.03763
Epoch 94/200
8571/8571 [==============================] - 2s 180us/step - loss: 0.0362 - mean_absolute_error: 0.0362 - val_loss: 0.0403 - val_mean_absolute_error: 0.0403

Epoch 00094: val_loss did not improve from 0.03763
Epoch 95/200
8571/8571 [==============================] - 1s 172us/step - loss: 0.0361 - mean_absolute_error: 0.0361 - val_loss: 0.0433 - val_mean_absolute_error: 0.0433

Epoch 00095: val_loss did not improve from 0.03763
Epoch 96/200
8571/8571 [==============================] - 2s 181us/step - loss: 0.0361 - mean_absolute_error: 0.0361 - val_loss: 0.0381 - val_mean_absolute_error: 0.0381

Epoch 00096: val_loss did not improve from 0.03763
Epoch 97/200
8571/8571 [==============================] - 1s 172us/step - loss: 0.0363 - mean_absolute_error: 0.0363 - val_loss: 0.0409 - val_mean_absolute_error: 0.0409

Epoch 00097: val_loss did not improve from 0.03763
Epoch 98/200
8571/8571 [==============================] - 1s 172us/step - loss: 0.0361 - mean_absolute_error: 0.0361 - val_loss: 0.0419 - val_mean_absolute_error: 0.0419

Epoch 00098: val_loss did not improve from 0.03763
Epoch 99/200
8571/8571 [==============================] - 1s 169us/step - loss: 0.0359 - mean_absolute_error: 0.0359 - val_loss: 0.0411 - val_mean_absolute_error: 0.0411

Epoch 00099: val_loss did not improve from 0.03763
Epoch 100/200
8571/8571 [==============================] - 2s 208us/step - loss: 0.0363 - mean_absolute_error: 0.0363 - val_loss: 0.0406 - val_mean_absolute_error: 0.0406

Epoch 00100: val_loss did not improve from 0.03763
Epoch 101/200
8571/8571 [==============================] - 2s 199us/step - loss: 0.0363 - mean_absolute_error: 0.0363 - val_loss: 0.0405 - val_mean_absolute_error: 0.0405

Epoch 00101: val_loss did not improve from 0.03763
Epoch 102/200
8571/8571 [==============================] - 2s 188us/step - loss: 0.0361 - mean_absolute_error: 0.0361 - val_loss: 0.0416 - val_mean_absolute_error: 0.0416

Epoch 00102: val_loss did not improve from 0.03763
Epoch 103/200
8571/8571 [==============================] - 2s 185us/step - loss: 0.0361 - mean_absolute_error: 0.0361 - val_loss: 0.0381 - val_mean_absolute_error: 0.0381

Epoch 00103: val_loss did not improve from 0.03763
Epoch 104/200
8571/8571 [==============================] - 1s 172us/step - loss: 0.0362 - mean_absolute_error: 0.0362 - val_loss: 0.0406 - val_mean_absolute_error: 0.0406

Epoch 00104: val_loss did not improve from 0.03763
Epoch 105/200
8571/8571 [==============================] - 1s 173us/step - loss: 0.0360 - mean_absolute_error: 0.0360 - val_loss: 0.0431 - val_mean_absolute_error: 0.0431

Epoch 00105: val_loss did not improve from 0.03763
Epoch 106/200
8571/8571 [==============================] - 1s 169us/step - loss: 0.0360 - mean_absolute_error: 0.0360 - val_loss: 0.0382 - val_mean_absolute_error: 0.0382

Epoch 00106: val_loss did not improve from 0.03763
Epoch 107/200
8571/8571 [==============================] - 1s 170us/step - loss: 0.0367 - mean_absolute_error: 0.0367 - val_loss: 0.0383 - val_mean_absolute_error: 0.0383

Epoch 00107: val_loss did not improve from 0.03763
Epoch 108/200
8571/8571 [==============================] - 2s 179us/step - loss: 0.0360 - mean_absolute_error: 0.0360 - val_loss: 0.0378 - val_mean_absolute_error: 0.0378

Epoch 00108: val_loss did not improve from 0.03763
Epoch 109/200
8571/8571 [==============================] - 2s 185us/step - loss: 0.0361 - mean_absolute_error: 0.0361 - val_loss: 0.0441 - val_mean_absolute_error: 0.0441

Epoch 00109: val_loss did not improve from 0.03763
Epoch 110/200
8571/8571 [==============================] - 2s 205us/step - loss: 0.0358 - mean_absolute_error: 0.0358 - val_loss: 0.0384 - val_mean_absolute_error: 0.0384

Epoch 00110: val_loss did not improve from 0.03763
Epoch 111/200
8571/8571 [==============================] - 2s 287us/step - loss: 0.0361 - mean_absolute_error: 0.0361 - val_loss: 0.0415 - val_mean_absolute_error: 0.0415

Epoch 00111: val_loss did not improve from 0.03763
Epoch 112/200
8571/8571 [==============================] - 1s 175us/step - loss: 0.0362 - mean_absolute_error: 0.0362 - val_loss: 0.0378 - val_mean_absolute_error: 0.0378

Epoch 00112: val_loss did not improve from 0.03763
Epoch 113/200
8571/8571 [==============================] - 2s 186us/step - loss: 0.0361 - mean_absolute_error: 0.0361 - val_loss: 0.0403 - val_mean_absolute_error: 0.0403

Epoch 00113: val_loss did not improve from 0.03763
Epoch 114/200
8571/8571 [==============================] - 2s 228us/step - loss: 0.0359 - mean_absolute_error: 0.0359 - val_loss: 0.0400 - val_mean_absolute_error: 0.0400

Epoch 00114: val_loss did not improve from 0.03763
Epoch 115/200
8571/8571 [==============================] - 2s 214us/step - loss: 0.0357 - mean_absolute_error: 0.0357 - val_loss: 0.0422 - val_mean_absolute_error: 0.0422

Epoch 00115: val_loss did not improve from 0.03763
Epoch 116/200
8571/8571 [==============================] - 2s 250us/step - loss: 0.0365 - mean_absolute_error: 0.0365 - val_loss: 0.0390 - val_mean_absolute_error: 0.0390

Epoch 00116: val_loss did not improve from 0.03763
Epoch 117/200
8571/8571 [==============================] - 2s 244us/step - loss: 0.0359 - mean_absolute_error: 0.0359 - val_loss: 0.0380 - val_mean_absolute_error: 0.0380

Epoch 00117: val_loss did not improve from 0.03763
Epoch 118/200
8571/8571 [==============================] - 2s 239us/step - loss: 0.0357 - mean_absolute_error: 0.0357 - val_loss: 0.0402 - val_mean_absolute_error: 0.0402

Epoch 00118: val_loss did not improve from 0.03763
Epoch 119/200
8571/8571 [==============================] - 2s 248us/step - loss: 0.0357 - mean_absolute_error: 0.0357 - val_loss: 0.0382 - val_mean_absolute_error: 0.0382

Epoch 00119: val_loss did not improve from 0.03763
Epoch 120/200
8571/8571 [==============================] - 2s 244us/step - loss: 0.0361 - mean_absolute_error: 0.0361 - val_loss: 0.0402 - val_mean_absolute_error: 0.0402

Epoch 00120: val_loss did not improve from 0.03763
Epoch 121/200
8571/8571 [==============================] - 2s 243us/step - loss: 0.0363 - mean_absolute_error: 0.0363 - val_loss: 0.0376 - val_mean_absolute_error: 0.0376

Epoch 00121: val_loss improved from 0.03763 to 0.03761, saving model to Weights-121--0.03761.hdf5
Epoch 122/200
8571/8571 [==============================] - 2s 238us/step - loss: 0.0358 - mean_absolute_error: 0.0358 - val_loss: 0.0388 - val_mean_absolute_error: 0.0388

Epoch 00122: val_loss did not improve from 0.03761
Epoch 123/200
8571/8571 [==============================] - 2s 237us/step - loss: 0.0359 - mean_absolute_error: 0.0359 - val_loss: 0.0372 - val_mean_absolute_error: 0.0372

Epoch 00123: val_loss improved from 0.03761 to 0.03718, saving model to Weights-123--0.03718.hdf5
Epoch 124/200
8571/8571 [==============================] - 2s 246us/step - loss: 0.0361 - mean_absolute_error: 0.0361 - val_loss: 0.0390 - val_mean_absolute_error: 0.0390

Epoch 00124: val_loss did not improve from 0.03718
Epoch 125/200
8571/8571 [==============================] - 2s 253us/step - loss: 0.0357 - mean_absolute_error: 0.0357 - val_loss: 0.0382 - val_mean_absolute_error: 0.0382

Epoch 00125: val_loss did not improve from 0.03718
Epoch 126/200
8571/8571 [==============================] - 2s 277us/step - loss: 0.0358 - mean_absolute_error: 0.0358 - val_loss: 0.0379 - val_mean_absolute_error: 0.0379

Epoch 00126: val_loss did not improve from 0.03718
Epoch 127/200
8571/8571 [==============================] - 2s 266us/step - loss: 0.0361 - mean_absolute_error: 0.0361 - val_loss: 0.0386 - val_mean_absolute_error: 0.0386

Epoch 00127: val_loss did not improve from 0.03718
Epoch 128/200
8571/8571 [==============================] - 2s 260us/step - loss: 0.0362 - mean_absolute_error: 0.0362 - val_loss: 0.0389 - val_mean_absolute_error: 0.0389

Epoch 00128: val_loss did not improve from 0.03718
Epoch 129/200
8571/8571 [==============================] - 2s 250us/step - loss: 0.0358 - mean_absolute_error: 0.0358 - val_loss: 0.0394 - val_mean_absolute_error: 0.0394

Epoch 00129: val_loss did not improve from 0.03718
Epoch 130/200
8571/8571 [==============================] - 2s 255us/step - loss: 0.0356 - mean_absolute_error: 0.0356 - val_loss: 0.0414 - val_mean_absolute_error: 0.0414

Epoch 00130: val_loss did not improve from 0.03718
Epoch 131/200
8571/8571 [==============================] - 3s 314us/step - loss: 0.0356 - mean_absolute_error: 0.0356 - val_loss: 0.0398 - val_mean_absolute_error: 0.0398

Epoch 00131: val_loss did not improve from 0.03718
Epoch 132/200
8571/8571 [==============================] - 3s 293us/step - loss: 0.0354 - mean_absolute_error: 0.0354 - val_loss: 0.0410 - val_mean_absolute_error: 0.0410

Epoch 00132: val_loss did not improve from 0.03718
Epoch 133/200
8571/8571 [==============================] - 2s 268us/step - loss: 0.0354 - mean_absolute_error: 0.0354 - val_loss: 0.0417 - val_mean_absolute_error: 0.0417

Epoch 00133: val_loss did not improve from 0.03718
Epoch 134/200
8571/8571 [==============================] - 2s 267us/step - loss: 0.0356 - mean_absolute_error: 0.0356 - val_loss: 0.0419 - val_mean_absolute_error: 0.0419

Epoch 00134: val_loss did not improve from 0.03718
Epoch 135/200
8571/8571 [==============================] - 2s 274us/step - loss: 0.0359 - mean_absolute_error: 0.0359 - val_loss: 0.0399 - val_mean_absolute_error: 0.0399

Epoch 00135: val_loss did not improve from 0.03718
Epoch 136/200
8571/8571 [==============================] - 3s 300us/step - loss: 0.0357 - mean_absolute_error: 0.0357 - val_loss: 0.0421 - val_mean_absolute_error: 0.0421

Epoch 00136: val_loss did not improve from 0.03718
Epoch 137/200
8571/8571 [==============================] - 3s 329us/step - loss: 0.0355 - mean_absolute_error: 0.0355 - val_loss: 0.0385 - val_mean_absolute_error: 0.0385

Epoch 00137: val_loss did not improve from 0.03718
Epoch 138/200
8571/8571 [==============================] - 3s 321us/step - loss: 0.0359 - mean_absolute_error: 0.0359 - val_loss: 0.0389 - val_mean_absolute_error: 0.0389

Epoch 00138: val_loss did not improve from 0.03718
Epoch 139/200
8571/8571 [==============================] - 3s 367us/step - loss: 0.0357 - mean_absolute_error: 0.0357 - val_loss: 0.0402 - val_mean_absolute_error: 0.0402

Epoch 00139: val_loss did not improve from 0.03718
Epoch 140/200
8571/8571 [==============================] - 3s 369us/step - loss: 0.0357 - mean_absolute_error: 0.0357 - val_loss: 0.0392 - val_mean_absolute_error: 0.0392

Epoch 00140: val_loss did not improve from 0.03718
Epoch 141/200
8571/8571 [==============================] - 3s 325us/step - loss: 0.0359 - mean_absolute_error: 0.0359 - val_loss: 0.0439 - val_mean_absolute_error: 0.0439

Epoch 00141: val_loss did not improve from 0.03718
Epoch 142/200
8571/8571 [==============================] - 3s 307us/step - loss: 0.0358 - mean_absolute_error: 0.0358 - val_loss: 0.0408 - val_mean_absolute_error: 0.0408

Epoch 00142: val_loss did not improve from 0.03718
Epoch 143/200
8571/8571 [==============================] - 3s 302us/step - loss: 0.0356 - mean_absolute_error: 0.0356 - val_loss: 0.0400 - val_mean_absolute_error: 0.0400

Epoch 00143: val_loss did not improve from 0.03718
Epoch 144/200
8571/8571 [==============================] - 3s 295us/step - loss: 0.0354 - mean_absolute_error: 0.0354 - val_loss: 0.0388 - val_mean_absolute_error: 0.0388

Epoch 00144: val_loss did not improve from 0.03718
Epoch 145/200

8571/8571 [==============================] - 2s 275us/step - loss: 0.0358 - mean_absolute_error: 0.0358 - val_loss: 0.0420 - val_mean_absolute_error: 0.0420

Epoch 00145: val_loss did not improve from 0.03718
Epoch 146/200
8571/8571 [==============================] - 2s 253us/step - loss: 0.0359 - mean_absolute_error: 0.0359 - val_loss: 0.0417 - val_mean_absolute_error: 0.0417

Epoch 00146: val_loss did not improve from 0.03718
Epoch 147/200
8571/8571 [==============================] - 2s 231us/step - loss: 0.0357 - mean_absolute_error: 0.0357 - val_loss: 0.0405 - val_mean_absolute_error: 0.0405

Epoch 00147: val_loss did not improve from 0.03718
Epoch 148/200
8571/8571 [==============================] - 2s 204us/step - loss: 0.0356 - mean_absolute_error: 0.0356 - val_loss: 0.0400 - val_mean_absolute_error: 0.0400

Epoch 00148: val_loss did not improve from 0.03718
Epoch 149/200
8571/8571 [==============================] - 2s 245us/step - loss: 0.0362 - mean_absolute_error: 0.0362 - val_loss: 0.0398 - val_mean_absolute_error: 0.0398

Epoch 00149: val_loss did not improve from 0.03718
Epoch 150/200
8571/8571 [==============================] - 2s 249us/step - loss: 0.0360 - mean_absolute_error: 0.0360 - val_loss: 0.0382 - val_mean_absolute_error: 0.0382

Epoch 00150: val_loss did not improve from 0.03718
Epoch 151/200
8571/8571 [==============================] - 2s 258us/step - loss: 0.0353 - mean_absolute_error: 0.0353 - val_loss: 0.0395 - val_mean_absolute_error: 0.0395

Epoch 00151: val_loss did not improve from 0.03718
Epoch 152/200
8571/8571 [==============================] - 2s 277us/step - loss: 0.0358 - mean_absolute_error: 0.0358 - val_loss: 0.0424 - val_mean_absolute_error: 0.0424

Epoch 00152: val_loss did not improve from 0.03718
Epoch 153/200
8571/8571 [==============================] - 2s 261us/step - loss: 0.0358 - mean_absolute_error: 0.0358 - val_loss: 0.0383 - val_mean_absolute_error: 0.0383

Epoch 00153: val_loss did not improve from 0.03718
Epoch 154/200
8571/8571 [==============================] - 2s 276us/step - loss: 0.0360 - mean_absolute_error: 0.0360 - val_loss: 0.0386 - val_mean_absolute_error: 0.0386

Epoch 00154: val_loss did not improve from 0.03718
Epoch 155/200
8571/8571 [==============================] - 2s 291us/step - loss: 0.0358 - mean_absolute_error: 0.0358 - val_loss: 0.0428 - val_mean_absolute_error: 0.0428

Epoch 00155: val_loss did not improve from 0.03718
Epoch 156/200
8571/8571 [==============================] - 2s 271us/step - loss: 0.0356 - mean_absolute_error: 0.0356 - val_loss: 0.0396 - val_mean_absolute_error: 0.0396

Epoch 00156: val_loss did not improve from 0.03718
Epoch 157/200
8571/8571 [==============================] - 2s 270us/step - loss: 0.0354 - mean_absolute_error: 0.0354 - val_loss: 0.0398 - val_mean_absolute_error: 0.0398

Epoch 00157: val_loss did not improve from 0.03718
Epoch 158/200
8571/8571 [==============================] - 2s 292us/step - loss: 0.0359 - mean_absolute_error: 0.0359 - val_loss: 0.0389 - val_mean_absolute_error: 0.0389

Epoch 00158: val_loss did not improve from 0.03718
Epoch 159/200
8571/8571 [==============================] - 2s 274us/step - loss: 0.0352 - mean_absolute_error: 0.0352 - val_loss: 0.0414 - val_mean_absolute_error: 0.0414

Epoch 00159: val_loss did not improve from 0.03718
Epoch 160/200
8571/8571 [==============================] - 2s 263us/step - loss: 0.0355 - mean_absolute_error: 0.0355 - val_loss: 0.0434 - val_mean_absolute_error: 0.0434

Epoch 00160: val_loss did not improve from 0.03718
Epoch 161/200
8571/8571 [==============================] - 3s 292us/step - loss: 0.0357 - mean_absolute_error: 0.0357 - val_loss: 0.0391 - val_mean_absolute_error: 0.0391

Epoch 00161: val_loss did not improve from 0.03718
Epoch 162/200
8571/8571 [==============================] - 2s 266us/step - loss: 0.0355 - mean_absolute_error: 0.0355 - val_loss: 0.0401 - val_mean_absolute_error: 0.0401

Epoch 00162: val_loss did not improve from 0.03718
Epoch 163/200
8571/8571 [==============================] - 2s 283us/step - loss: 0.0357 - mean_absolute_error: 0.0357 - val_loss: 0.0409 - val_mean_absolute_error: 0.0409

Epoch 00163: val_loss did not improve from 0.03718
Epoch 164/200
8571/8571 [==============================] - 3s 293us/step - loss: 0.0356 - mean_absolute_error: 0.0356 - val_loss: 0.0390 - val_mean_absolute_error: 0.0390

Epoch 00164: val_loss did not improve from 0.03718
Epoch 165/200
8571/8571 [==============================] - 3s 294us/step - loss: 0.0358 - mean_absolute_error: 0.0358 - val_loss: 0.0387 - val_mean_absolute_error: 0.0387

Epoch 00165: val_loss did not improve from 0.03718
Epoch 166/200
8571/8571 [==============================] - 2s 281us/step - loss: 0.0357 - mean_absolute_error: 0.0357 - val_loss: 0.0406 - val_mean_absolute_error: 0.0406

Epoch 00166: val_loss did not improve from 0.03718
Epoch 167/200
8571/8571 [==============================] - 2s 281us/step - loss: 0.0355 - mean_absolute_error: 0.0355 - val_loss: 0.0395 - val_mean_absolute_error: 0.0395

Epoch 00167: val_loss did not improve from 0.03718
Epoch 168/200
8571/8571 [==============================] - 2s 263us/step - loss: 0.0358 - mean_absolute_error: 0.0358 - val_loss: 0.0405 - val_mean_absolute_error: 0.0405

Epoch 00168: val_loss did not improve from 0.03718
Epoch 169/200
8571/8571 [==============================] - 2s 268us/step - loss: 0.0353 - mean_absolute_error: 0.0353 - val_loss: 0.0402 - val_mean_absolute_error: 0.0402

Epoch 00169: val_loss did not improve from 0.03718
Epoch 170/200
8571/8571 [==============================] - 3s 343us/step - loss: 0.0353 - mean_absolute_error: 0.0353 - val_loss: 0.0394 - val_mean_absolute_error: 0.0394

Epoch 00170: val_loss did not improve from 0.03718
Epoch 171/200
8571/8571 [==============================] - 3s 335us/step - loss: 0.0356 - mean_absolute_error: 0.0356 - val_loss: 0.0419 - val_mean_absolute_error: 0.0419

Epoch 00171: val_loss did not improve from 0.03718
Epoch 172/200
8571/8571 [==============================] - 3s 321us/step - loss: 0.0355 - mean_absolute_error: 0.0355 - val_loss: 0.0393 - val_mean_absolute_error: 0.0393

Epoch 00172: val_loss did not improve from 0.03718
Epoch 173/200
8571/8571 [==============================] - 3s 295us/step - loss: 0.0354 - mean_absolute_error: 0.0354 - val_loss: 0.0410 - val_mean_absolute_error: 0.0410

Epoch 00173: val_loss did not improve from 0.03718
Epoch 174/200
8571/8571 [==============================] - 2s 268us/step - loss: 0.0353 - mean_absolute_error: 0.0353 - val_loss: 0.0386 - val_mean_absolute_error: 0.0386

Epoch 00174: val_loss did not improve from 0.03718
Epoch 175/200
8571/8571 [==============================] - 2s 270us/step - loss: 0.0352 - mean_absolute_error: 0.0352 - val_loss: 0.0409 - val_mean_absolute_error: 0.0409

Epoch 00175: val_loss did not improve from 0.03718
Epoch 176/200
8571/8571 [==============================] - 2s 269us/step - loss: 0.0353 - mean_absolute_error: 0.0353 - val_loss: 0.0410 - val_mean_absolute_error: 0.0410

Epoch 00176: val_loss did not improve from 0.03718
Epoch 177/200
8571/8571 [==============================] - 9s 1ms/step - loss: 0.0358 - mean_absolute_error: 0.0358 - val_loss: 0.0429 - val_mean_absolute_error: 0.0429

Epoch 00177: val_loss did not improve from 0.03718
Epoch 178/200
8571/8571 [==============================] - 10s 1ms/step - loss: 0.0356 - mean_absolute_error: 0.0356 - val_loss: 0.0410 - val_mean_absolute_error: 0.0410

Epoch 00178: val_loss did not improve from 0.03718
Epoch 179/200
8571/8571 [==============================] - 9s 1ms/step - loss: 0.0351 - mean_absolute_error: 0.0351 - val_loss: 0.0392 - val_mean_absolute_error: 0.0392

Epoch 00179: val_loss did not improve from 0.03718
Epoch 180/200
8571/8571 [==============================] - 8s 911us/step - loss: 0.0353 - mean_absolute_error: 0.0353 - val_loss: 0.0400 - val_mean_absolute_error: 0.0400

Epoch 00180: val_loss did not improve from 0.03718
Epoch 181/200
8571/8571 [==============================] - 9s 1ms/step - loss: 0.0351 - mean_absolute_error: 0.0351 - val_loss: 0.0389 - val_mean_absolute_error: 0.0389

Epoch 00181: val_loss did not improve from 0.03718
Epoch 182/200

8571/8571 [==============================] - 3s 369us/step - loss: 0.0354 - mean_absolute_error: 0.0354 - val_loss: 0.0398 - val_mean_absolute_error: 0.0398

Epoch 00182: val_loss did not improve from 0.03718
Epoch 183/200
8571/8571 [==============================] - 8s 942us/step - loss: 0.0352 - mean_absolute_error: 0.0352 - val_loss: 0.0432 - val_mean_absolute_error: 0.0432

Epoch 00183: val_loss did not improve from 0.03718
Epoch 184/200
8571/8571 [==============================] - 8s 988us/step - loss: 0.0356 - mean_absolute_error: 0.0356 - val_loss: 0.0391 - val_mean_absolute_error: 0.0391

Epoch 00184: val_loss did not improve from 0.03718
Epoch 185/200
8571/8571 [==============================] - 10s 1ms/step - loss: 0.0355 - mean_absolute_error: 0.0355 - val_loss: 0.0396 - val_mean_absolute_error: 0.0396

Epoch 00185: val_loss did not improve from 0.03718
Epoch 186/200
8571/8571 [==============================] - 9s 1ms/step - loss: 0.0353 - mean_absolute_error: 0.0353 - val_loss: 0.0387 - val_mean_absolute_error: 0.0387

Epoch 00186: val_loss did not improve from 0.03718
Epoch 187/200
8571/8571 [==============================] - 7s 840us/step - loss: 0.0354 - mean_absolute_error: 0.0354 - val_loss: 0.0395 - val_mean_absolute_error: 0.0395

Epoch 00187: val_loss did not improve from 0.03718
Epoch 188/200
8571/8571 [==============================] - 9s 1ms/step - loss: 0.0356 - mean_absolute_error: 0.0356 - val_loss: 0.0382 - val_mean_absolute_error: 0.0382

Epoch 00188: val_loss did not improve from 0.03718
Epoch 189/200
8571/8571 [==============================] - 8s 906us/step - loss: 0.0355 - mean_absolute_error: 0.0355 - val_loss: 0.0407 - val_mean_absolute_error: 0.0407

Epoch 00189: val_loss did not improve from 0.03718
Epoch 190/200
8571/8571 [==============================] - 8s 913us/step - loss: 0.0353 - mean_absolute_error: 0.0353 - val_loss: 0.0417 - val_mean_absolute_error: 0.0417

Epoch 00190: val_loss did not improve from 0.03718
Epoch 191/200
8571/8571 [==============================] - 7s 769us/step - loss: 0.0357 - mean_absolute_error: 0.0357 - val_loss: 0.0425 - val_mean_absolute_error: 0.0425

Epoch 00191: val_loss did not improve from 0.03718
Epoch 192/200
8571/8571 [==============================] - 5s 572us/step - loss: 0.0354 - mean_absolute_error: 0.0354 - val_loss: 0.0399 - val_mean_absolute_error: 0.0399

Epoch 00192: val_loss did not improve from 0.03718
Epoch 193/200
8571/8571 [==============================] - 5s 638us/step - loss: 0.0352 - mean_absolute_error: 0.0352 - val_loss: 0.0392 - val_mean_absolute_error: 0.0392

Epoch 00193: val_loss did not improve from 0.03718
Epoch 194/200
8571/8571 [==============================] - 6s 642us/step - loss: 0.0350 - mean_absolute_error: 0.0350 - val_loss: 0.0411 - val_mean_absolute_error: 0.0411

Epoch 00194: val_loss did not improve from 0.03718
Epoch 195/200
8571/8571 [==============================] - 5s 637us/step - loss: 0.0357 - mean_absolute_error: 0.0357 - val_loss: 0.0436 - val_mean_absolute_error: 0.0436

Epoch 00195: val_loss did not improve from 0.03718
Epoch 196/200
8571/8571 [==============================] - 2s 221us/step - loss: 0.0353 - mean_absolute_error: 0.0353 - val_loss: 0.0414 - val_mean_absolute_error: 0.0414

Epoch 00196: val_loss did not improve from 0.03718
Epoch 197/200
8571/8571 [==============================] - 2s 220us/step - loss: 0.0352 - mean_absolute_error: 0.0352 - val_loss: 0.0392 - val_mean_absolute_error: 0.0392

Epoch 00197: val_loss did not improve from 0.03718
Epoch 198/200
8571/8571 [==============================] - 4s 478us/step - loss: 0.0358 - mean_absolute_error: 0.0358 - val_loss: 0.0413 - val_mean_absolute_error: 0.0413

Epoch 00198: val_loss did not improve from 0.03718
Epoch 199/200
8571/8571 [==============================] - 3s 378us/step - loss: 0.0352 - mean_absolute_error: 0.0352 - val_loss: 0.0399 - val_mean_absolute_error: 0.0399

Epoch 00199: val_loss did not improve from 0.03718
Epoch 200/200
8571/8571 [==============================] - 2s 211us/step - loss: 0.0353 - mean_absolute_error: 0.0353 - val_loss: 0.0392 - val_mean_absolute_error: 0.0392

Epoch 00200: val_loss did not improve from 0.03718

In [41]:
wights_file = 'Weights-123--0.03718.hdf5' # choose the best checkpoint 
NN_model.load_weights(wights_file) # load it
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])

In [42]:
r=NN_model.predict(df_with_dummies)

In [43]:
y[80:100]

80    0.966557
81    0.503151
82    0.466676
83    0.868925
84    0.474274
85    0.486214
86    0.507686
87    0.771293
88    0.490827
89    0.494073
90    0.486276
91    0.476815
92    0.490697
93    0.712714
94    0.477857
95    0.456663
96    0.482561
97    0.504377
98    0.476180
99    0.475284
Name: Infect_Prob, dtype: float64

In [44]:
r[80:100]

array([[0.6230249 ],
       [0.5032088 ],
       [0.4657346 ],
       [0.4876378 ],
       [0.4745155 ],
       [0.48552138],
       [0.65347654],
       [0.6383965 ],
       [0.48925382],
       [0.4933103 ],
       [0.48406595],
       [0.4764716 ],
       [0.4879303 ],
       [0.6134245 ],
       [0.47714663],
       [0.45677763],
       [0.48074168],
       [0.5100336 ],
       [0.47592956],
       [0.47378972]], dtype=float32)

In [45]:
sq=0
for i in range(len(y)):
    e=float(r[i])-y[i]
    sq=sq+((e**2)**0.5)
print(sq/len(y))

0.0354757656833742

In [46]:
train_X, val_X, train_y, val_y = train_test_split(df_with_dummies, y, test_size = 0.25, random_state = 14)

In [47]:

model = RandomForestRegressor()
model.fit(train_X,train_y)

# Get the mean absolute error on the validation data
predicted_prices = model.predict(val_X)
MAE = mean_absolute_error(val_y , predicted_prices)
print('Random forest validation MAE = ', MAE)

Random forest validation MAE =  0.03495431150352345

In [48]:
test=pd.read_excel("/home/udit/Music/fliprhackathonhiringprogram4_0machinelearningtask/Test_dataset.xlsx")

In [49]:
test.head()

,people_ID,Region,Gender,Designation,Name,Married,Children,Occupation,Mode_transport,cases/1M,...,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month
0,5942,Delhi,Female,Mrs,smt rekha prajapat,YES,2,Driver,Public,4,...,153,196,240,85,53,17,3,3900000,1300000,1
1,18664,Delhi,Male,Mr,nirmal,YES,2,Legal,Walk,4,...,95,138,241,81,61,2,5,1800000,1300000,1
2,5603,Delhi,Female,Mrs,pinky,YES,2,Sales,Car,4,...,40,166,236,88,47,24,3,5000000,2000000,2
3,5649,Delhi,Female,Mrs,pooja @aafrin,YES,2,Sales,Car,4,...,78,83,211,87,52,13,6,3100000,600000,2
4,5099,Delhi,Female,Mrs,anjali,YES,2,Business,Car,4,...,109,207,312,94,68,39,5,2300000,1500000,1

In [50]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14498 entries, 0 to 14497
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   people_ID               14498 non-null  int64
 1   Region                  14498 non-null  object
 2   Gender                  14498 non-null  object
 3   Designation             14498 non-null  object
 4   Name                    14466 non-null  object
 5   Married                 14498 non-null  object
 6   Children                14498 non-null  int64
 7   Occupation              14498 non-null  object
 8   Mode_transport          14498 non-null  object
 9   cases/1M                14498 non-null  int64
 10  Deaths/1M               14498 non-null  int64
 11  comorbidity             14498 non-null  object
 12  Age                     14498 non-null  int64
 13  Coma score              14498 non-null  int64
 14  Pulmonary score         14498 non-null  object
 15  cardiological pressure  14498 non-null  object
 16  Diuresis                14498 non-null  int64
 17  Platelets               14498 non-null  int64
 18  HBB                     14498 non-null  int64
 19  d-dimer                 14498 non-null  int64
 20  Heart rate              14498 non-null  int64
 21  HDL cholesterol         14498 non-null  int64
 22  Charlson Index          14498 non-null  int64
 23  Blood Glucose           14498 non-null  int64
 24  Insurance               14498 non-null  int64
 25  salary                  14498 non-null  int64
 26  FT/month                14498 non-null  int64
dtypes: int64(17), object(10)
memory usage: 3.0+ MB

In [51]:
df1 = pd.get_dummies( test, columns =['Gender','Married','Occupation','Mode_transport','comorbidity','Pulmonary score','cardiological pressure'] )

In [52]:
df1.head()

,people_ID,Region,Designation,Name,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,...,comorbidity_Hypertension,comorbidity_None,Pulmonary score_<100,Pulmonary score_<200,Pulmonary score_<300,Pulmonary score_<400,cardiological pressure_Elevated,cardiological pressure_Normal,cardiological pressure_Stage-01,cardiological pressure_Stage-02
0,5942,Delhi,Mrs,smt rekha prajapat,2,4,1,52,3,388,...,0,0,0,1,0,0,0,0,1,0
1,18664,Delhi,Mr,nirmal,2,4,1,53,11,409,...,0,0,0,1,0,0,0,0,1,0
2,5603,Delhi,Mrs,pinky,2,4,1,35,9,440,...,0,0,1,0,0,0,0,0,0,1
3,5649,Delhi,Mrs,pooja @aafrin,2,4,1,31,12,206,...,0,1,0,0,1,0,1,0,0,0
4,5099,Delhi,Mrs,anjali,2,4,1,51,6,229,...,0,0,0,1,0,0,0,0,1,0

In [55]:
df3=df1
df3=df3.drop(['Region', 'Designation', 'Name', 'Children', 'cases/1M',
       'Deaths/1M', 'Age', 'Coma score', 'Diuresis', 'Platelets', 'HBB',
       'd-dimer', 'Heart rate', 'HDL cholesterol', 'Charlson Index',
       'Blood Glucose', 'Insurance', 'salary', 'FT/month', 'Gender_Female',
       'Gender_Male', 'Married_NO', 'Married_YES', 'Occupation_Business',
       'Occupation_Cleaner', 'Occupation_Clerk', 'Occupation_Driver',
       'Occupation_Farmer', 'Occupation_Legal', 'Occupation_Manufacturing',
       'Occupation_Researcher', 'Occupation_Sales', 'Mode_transport_Car',
       'Mode_transport_Public', 'Mode_transport_Walk',
       'comorbidity_Coronary Heart Disease', 'comorbidity_Diabetes',
       'comorbidity_Hypertension', 'comorbidity_None', 'Pulmonary score_<100',
       'Pulmonary score_<200', 'Pulmonary score_<300', 'Pulmonary score_<400',
       'cardiological pressure_Elevated', 'cardiological pressure_Normal',
       'cardiological pressure_Stage-01', 'cardiological pressure_Stage-02'],axis=1)

In [56]:
df3

       people_ID
0           5942
1          18664
2           5603
3           5649
4           5099
...          ...
14493      23737
14494      11171
14495      23243
14496      11199
14497      10787

[14498 rows x 1 columns]

In [57]:
df1= df1.drop(['Designation','Name','Insurance','salary','people_ID','Region'],axis=1)

In [58]:
df3["Predict_prob"] = NN_model.predict(df1)*100

In [59]:
df1

,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,Heart rate,...,comorbidity_Hypertension,comorbidity_None,Pulmonary score_<100,Pulmonary score_<200,Pulmonary score_<300,Pulmonary score_<400,cardiological pressure_Elevated,cardiological pressure_Normal,cardiological pressure_Stage-01,cardiological pressure_Stage-02
0,2,4,1,52,3,388,153,196,240,85,...,0,0,0,1,0,0,0,0,1,0
1,2,4,1,53,11,409,95,138,241,81,...,0,0,0,1,0,0,0,0,1,0
2,2,4,1,35,9,440,40,166,236,88,...,0,0,1,0,0,0,0,0,0,1
3,2,4,1,31,12,206,78,83,211,87,...,0,1,0,0,1,0,1,0,0,0
4,2,4,1,51,6,229,109,207,312,94,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14493,0,11,2,55,5,417,16,36,346,66,...,0,0,0,0,0,1,0,1,0,0
14494,0,11,2,44,4,199,22,29,278,94,...,0,1,0,0,1,0,1,0,0,0
14495,0,11,2,46,6,161,15,28,294,73,...,0,1,0,0,1,0,1,0,0,0
14496,0,11,2,34,5,174,31,24,227,83,...,0,0,0,1,0,0,0,0,1,0
14497,0,11,2,27,4,126,16,63,282,80,...,0,0,0,1,0,0,0,0,1,0

In [60]:
df3

       people_ID  Predict_prob
0           5942     54.105503
1          18664     52.494526
2           5603     53.279339
3           5649     53.390686
4           5099     52.873657
...          ...           ...
14493      23737     49.123852
14494      11171     49.776360
14495      23243     48.574974
14496      11199     49.663536
14497      10787     48.733723

[14498 rows x 2 columns]

In [65]:
df3.to_csv(r'/home/udit/Music/fliprhackathonhiringprogram4_0machinelearningtask/Submission.csv', index = False)

In [72]:
test1=pd.read_csv("/home/udit/Music/fliprhackathonhiringprogram4_0machinelearningtask/trial.csv")

In [73]:
test1.head()

,people_ID,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,...,comorbidity_Hypertension,comorbidity_None,Pulmonary score_<100,Pulmonary score_<200,Pulmonary score_<300,Pulmonary score_<400,cardiological pressure_Elevated,cardiological pressure_Normal,cardiological pressure_Stage-01,cardiological pressure_Stage-02
0,1,1.0,2,0,68,8,1781.791516,154.0,93.0,233.0,...,1,0,0,0,0,1,0,1,0,0
1,2,2.0,2,0,64,15,742.135756,121.0,56.0,328.0,...,0,0,1,0,0,0,0,0,0,1
2,3,1.0,2,0,19,13,1688.785637,124.0,137.0,213.0,...,0,1,0,0,1,0,1,0,0,0
3,4,1.0,2,0,33,9,1655.430616,98.0,167.0,275.0,...,0,0,0,1,0,0,0,0,1,0
4,5,2.0,2,0,23,7,1593.292338,21.0,153.0,331.0,...,0,0,0,0,0,1,0,1,0,0

In [74]:
df4=test1

In [77]:
df4.head()

   people_ID
0          1
1          2
2          3
3          4
4          5

In [76]:
df4=df4.drop(['Children', 'cases/1M', 'Deaths/1M', 'Age', 'Coma score', 'Diuresis',
       'Platelets', 'HBB', 'd-dimer', 'Heart rate', 'HDL cholesterol',
       'Charlson Index', 'Blood Glucose', 'FT/month', 'Gender_Female',
       'Gender_Male', 'Married_NO', 'Married_YES', 'Occupation_Business',
       'Occupation_Cleaner', 'Occupation_Clerk', 'Occupation_Driver',
       'Occupation_Farmer', 'Occupation_Legal', 'Occupation_Manufacturing',
       'Occupation_Researcher', 'Occupation_Sales', 'Mode_transport_Car',
       'Mode_transport_Public', 'Mode_transport_Walk',
       'comorbidity_Coronary Heart Disease', 'comorbidity_Diabetes',
       'comorbidity_Hypertension', 'comorbidity_None', 'Pulmonary score_<100',
       'Pulmonary score_<200', 'Pulmonary score_<300', 'Pulmonary score_<400',
       'cardiological pressure_Elevated', 'cardiological pressure_Normal',
       'cardiological pressure_Stage-01', 'cardiological pressure_Stage-02',
       ],axis=1)

In [79]:
test1=test1.drop(['people_ID'],axis=1)
df4["Predict_prob"] = NN_model.predict(test1)*100

In [80]:
df4.head()

   people_ID  Predict_prob
0          1     48.029144
1          2     49.948326
2          3     64.825943
3          4     56.194359
4          5     56.633724

In [81]:
df4.to_csv(r'/home/udit/Music/fliprhackathonhiringprogram4_0machinelearningtask/submission2.csv', index = False)